<div class="d-flex justify-content-center">
  <a href="https://github.com/BryanDietrichBernhardt" target="_blank">
    <img class="img-fluid socialmedia p-1" src="assets/images/socialmedia/github.png" alt="GitHub">
  </a>
  <a href="https://www.linkedin.com/in/bryandbernhardt/" target="_blank">
    <img class="img-fluid socialmedia p-1" src="assets/images/socialmedia/linkedin.png" alt="GitHub">
  </a>
  <a href="https://www.instagram.com/baiaaam/" target="_blank">
    <img class="img-fluid socialmedia p-1" src="assets/images/socialmedia/instagram.png" alt="GitHub">
  </a>
  <a href="mailto:contact@bryandbernhardt.com" target="_blank">
    <img class="img-fluid socialmedia p-1" src="assets/images/socialmedia/o-email.png" alt="GitHub">
  </a>
</div>
