* {
  margin: 0;
  padding: 0;
}


html, body {
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}

@media (orientation: portrait) or (max-width: 1040px) or (max-height: 722px) {
  body {
    margin-bottom: 40px;
  }
}

