<div class="container mt-5">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img src="assets/images/PSX_20220905_195804.jpg" class="img-fluid circle" alt="Perfil image">
    <p class="codetextprimary mt-4">Hello! My name is Bryan and I'm a FullStack Developer_</p>
    <p class="codetextsecondary mt-2">I have practical experience in ERP and POS systems following the agile development model SCRUM with Kanban(Trello), already worked on RESTfull APIs projects with C# .NET and Entity Framework, and also in web system with ASP.NET. Working knowledge of Angular used for develop web applications (part of the front-end) and consume APIs.</p>
  </div>
  <app-medialinks class="m-4"></app-medialinks>
</div>
